.bg-img {
    background:  url("C:\\Users\\David\\Documents\\5\\INGENIERIA WEB\\proyecto perros\\primera.jpg");
    background-image:  url("C:\\Users\\David\\Documents\\5\\INGENIERIA WEB\\proyecto perros\\primera.jpg");
    background-size: cover;
}