{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Foro</title>
{% endblock %}

{% block body %}
  <header class="bg-primary text-white">
    <div class="container text-center">
      <img src="{% static 'img/logos5.png' %}" id="logoForo"/>
      <h1>Adopting is saving</h1> 
      <h2>FORUM</h2> 
    </div>
  </header>

  <section id="temas">
  <form method="GET">
    <div class="container" id="busqueda">
      <input class="form-control" type="text" placeholder="Search topic" name="buscar">
      <button type="submit" class="btn btn-success"> Search </button>  
    </div>
  </form>


    <div class="container">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col" width="50%">Name</th>
            <th scope="col" width="15%">Statistics</th>
            <th scope="col" width="35%">Last update</th>
         </tr>
        </thead>
        <tbody>
            {% for topic in topics %}
          <tr>
            <td>
              <a href="{% url 'topic_threads' topic.name %}">{{ topic.name }}</a>
              <small class="text-muted d-block">{{ topic.description }}</small>
            </td>
            <td>Threads: 0<br>Posts: 0
            </td>
            <td>No posts</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>    
    </div>
  </section>
{% endblock %}  
