{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Proyecto Foro</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'img/bulls.png' %}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/scrolling-nav.css' %}">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Proyecto Foro</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/foro">Foro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="text-white" style="background-color: #131c44;">
    <div class="container text-center">
        <img src="{% static 'img/bulls.png' %}" id="logo"/>
      <h1>Proyecto Final</h1>
      <p class="lead">El proyecto final para la materia de Aplicaciones Distribuidas</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Quienes somos</h2>
          <p class="lead">Proyecto Foro es un proyecto realizado en para la materia de Aplicaciones Distribuidas, grupo 4TM2 del periodo 2022/1.</p>
          <ul>
            <li>Realizado por David Eduardo Cárdenas Ávila y Lisset Cuevas Juárez</li>
            <li>Usando tecnologías como Django Python y Postgresql</li>
            <li>Materia dirigida por el profesor Dr. Cesareo Javier Muñoz Rodríguez</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="faq" class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Preguntas Frecuentes</h2>
          <p class="lead">¿De qué se trata?</p>
          <ul>
            <li>Sitio y foro web realizado sobre el framework Django</li>
            <li>La base de datos es Postgres</li>
            <li>La realización de posts se logra mediante una herramienta llamada "Widget Teaks"</li>
          </ul>
          <p class="lead">¿Qué funciones tiene?</p>
          <ul>
            <li>Sitio:</li>
            <ul>
              <li>Página inicial</li>
              <li>Información inicial, presentación del proyecto, contacto, link a foro.</li>
              <li>Sitio admin (para el control de la web app)</li>
            </ul>
            <li>Usuarios:</li>
            <ul>
              <li>Sistema de registro</li>
              <li>No. Respuestas</li>
              <li>Log in</li>
              <li>Recuperación de contraseña</li>
            </ul>
            <li>Post:</li>
            <ul>
              <li>Creación</li>
              <li>Edición</li>
              <li>Eliminación</li>
              <li>Respuestas</li>
              <li>Guardar post</li>
              <li>Creación con texto enriquecido</li>
            </ul>
            <li>Foro:</li>
            <ul>
              <li>Diseño de foro</li>
              <li>Búsqueda de post y threads (filtrado)</li>
              <li>Subtemas o subforos</li>
              <li>Respuestas a posts</li>
            </ul>
          </ul>
          <p class="lead"¿>¿Quiénes son los alumnos?</p>
          <ul>
            <li>¡Somos un pequeño equipo de dos personas! ponte en contacto con nosotros</li>
          </ul>
          <p class="lead"></p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2>Contáctanos</h2><br><br>
          <a href="https://wwww.facebook.com/davidcardd"><img src="{% static 'img/icons/facebook-icon.png' %}" class="logoContacto"></a>  
          <a href="https://www.instagram.com/lissetcuevas"><img src="{% static 'img/icons/Instagram_icon.png' %}" class="logoContacto"></a>
          <a href="https://www.twitter.com/brfootball"><img src="{% static 'img/icons/Twitter_Logo_WhiteOnBlue.png' %}" class="logoContacto"></a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Proyecto Foro 2021</p>
      <p class="m-3 text-center text-white"> David Cárdenas & Lisset Cuevas</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'js/scrolling-nav.js' %}"></script>

</body>

</html>
