<div class="container" id="viewLogin">
  <form method="POST">
    {% csrf_token %}
    <p><label for="id_username">User</label><br>
    <input id="id_username" type="text" name="username" maxlength="100" required></p>
    <p><label for="id_password">Password</label><br>
    <input id="id_password" type="password" name="password" maxlength="100" required></p>
    {% for error in field.errors %}
      <p class="help is-danger">{{ error }}</p>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>
</div>