{%  extends 'base.html' %}
{% block head %}
<title>Perfil</title>
{% endblock %}

{% block body %}
<section>
  <div class="container">

        <h1>Perfil</h1><br>
        <p>Username: {{ user }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Description: {{ user.profile.bio }}</p>
        <p>Post count: {{ user.profile.post_count }}</p>
        <p>Image: </p> <img src="{{ user.profile.profile_pic.url }}" width="240">
        

  </div>
</section>
{% endblock %}