{%  extends 'base.html' %}
{% block head %}
  <title>Perfil</title>
{% endblock %}

{% block body %}
<section>
  <div class="container">
    <div class="row">
        <div class="col">
          <p>Image<br>
          {% if user.profile.profile_pic %}
          <img src="{{ user.profile.profile_pic.url }}" width="170px">
          {% else %}
          <img src="/Proyecto4patas1/media/profile_image/default_profileImage.jpg" width="170px">
          {% endif %}
          </p>
          <p>Bio<br>{{ user.profile.bio }}</p>
        </div>
        <div class="col">
          <p>Username<br>{{ user }}</p>
          <p>First name<br>{{ user.first_name }}</p>
          <p>Last name<br>{{ user.last_name }}</p>
          <p>Email<br>{{ user.email }}</p>  
        </div>
    </div>
  </div>
</section>
{% endblock %}
